// global variables file


// Colors
$purple: #FF00FF;

$gray-light: #A0A0A0;
$gray-medium: #787878;
$gray-dark: #505050;


$tan: #F6E7CB; 
$salmon: #DD9787;
$olive: #DED5BC;
$aqua: #74D3AE;
$banner-color: #70B77E;
$btn-color: #546E7A;

@mixin font-med {
  font-family: 'League Spartan', sans-serif;
  font-size: 16px;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$position-values: (
  0: 0,
  50: 50%,
  100: 100%
);

* {
  @include font-med;
}