@import '../../variables.scss';

.navbar {
    background-color: #3B5EED;
}

a.nav-link {
    color: white;
}

a.navbar-brand {
    color: white;
}

.navbar-toggler {
    background-color: unset;
    border: none;
    outline: none;
}






/* MOBILE BREAKPOINT */

// @media only screen and (max-width: 600px) {

   
//   }